@charset "utf-8";
/*モバイルサイズ*/

/*==================== ローディング画面＆トップ =====================*/
#loading {
    background-image: linear-gradient(177deg, rgba(215, 206, 199), rgba(227, 194, 194));
    position: fixed;
    inset: 0;
    z-index: 999;
    display: grid;
    place-items: center;
}

/*==================== About　=====================*/

.clearfix {
    clear: both;
}

.drawing {
    border: 8px dotted var(--maincolor);
    min-width: 180px;
    height: auto;
    float: left;
    margin-right: 1.5em;

}
.about__heading {
    margin: 2em 0 1em 0;
}

.about__text {
    line-height: 1.8;
}

/*==================== Works　=====================*/
.example {
    height: auto;
    margin-bottom: 30px;
}


.example__btn-container {
    text-align: center;
}

.example__btn {
    border-radius: 5px;
    background-color: var(--accent);
    padding: 2px 7px 4px 7px;
    text-decoration: none;
    color: #eee;
    display: inline-block;
    margin: 10px 0 60px 0;
}

.example__btn:hover {
    background-color: var(--maincolor);
}


.example__btn a{
    text-decoration: none;
    color: #eee;
    display: block;
}

#works h2::first-letter {
    margin-right: -4px;
}

.bn {
    width: 70%;
    padding: 30px 0;
}
/*==================== skill =====================*/
.skill__leadtext {
    margin-bottom: 50px;
}

.skill-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10vw 8vw;
}

.skill__container {
    padding: 5%;
}

.skill__container--item {
    text-align: center;
    font-size: 1.5em;
}

.skill__container--icon {
    padding: 0 10% 10% 10%;
    max-width: 200px;
    margin: 0 auto;
}

.skill__container--heading {
margin: 10px 0;
}

.skill__container--text {
    font-size: 0.8em;
}

.skill__container--text:first-of-type {
    margin-bottom: 1.5em;
}

/*====================　Contact =====================*/
.contact-form {
    height: 50vh;
    overflow: scroll;
}

/*===========================
        レスポンシブ用
===========================*/
/*タブレットサイズ*/
@media (min-width: 768px) {

    .gnav__wrapper {
        opacity: 0;
    }
    .skill-details {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 5vw 8vw;
    }
}

/*PCサイズ(大画面)*/
@media (min-width:1280px) {
    
}